PORT=3000
MONGODB_URI=your_mongodb_api_key
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
JWT_SECRET=your_long_random_secret_string_here
JWT_EXPIRES_IN=your_JWT_expiry_time